-extends 'landing/base.html'
-load static
-block header
  -include 'landing/header.haml'
-block footer
  -include 'landing/footer.haml'
-block main
  %main
    .preloader.bg-dark.flex-column.justify-content-center.align-items-center
      %svg#loader-logo{height: "50", viewbox: "0 0 64 78.4", width: "50", xmlns: "http://www.w3.org/2000/svg"}
        %path{d: "M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z", fill: "#fff"}
        %rect{fill: "none", height: "25.6", stroke: "#fff", :stroke-width => "11.2", width: "0", x: "40", y: "17.6"}
        %rect{fill: "none", height: "25.6", stroke: "#fff", :stroke-opacity => "0.4", :stroke-width => "11.2", width: "0", x: "23", y: "35.2"}
        %path{d: "M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z", fill: "#fff"}
        %rect{fill: "none", height: "25.6", stroke: "#fff", :stroke-width => "11.2", width: "0", x: "6", y: "52.8"}
        %path{d: "M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z", fill: "#fff"}
        %rect{fill: "none", height: "11.2", stroke: "#fff", :stroke-width => "11.2", width: "0", x: "57.8", y: "17.6"}
        %rect{fill: "none", height: "11.2", stroke: "#fff", :stroke-width => "11.2", width: "0", x: "6", y: "35.2"}
        %rect{fill: "none", height: "11.2", stroke: "#fff", :stroke-width => "11.2", width: "0", x: "40.2", y: "49.6"}
        %path{d: "M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z", fill: "#fff"}
        %rect{fill: "none", height: "11.2", stroke: "#fff", :stroke-opacity => "0.4", :stroke-width => "28.8", width: "0", x: "31.6"}
        %rect{fill: "none", height: "11.2", stroke: "#fff", :stroke-width => "28.8", width: "0", x: "14", y: "17.6"}
    %section.section-header.overflow-hidden.pt-7.pt-lg-8.pb-9.pb-lg-12.bg-primary.text-white
      .container
        .row
          .col-12.text-center
            .bootstrap-big-icon.d-none.d-lg-block
              %img{alt: "Mondo mockup", src: "{% static 'landing/assets/img/social-com.png' %}"}/
            %h1.fw-bolder.display-2 Mondo
            %h2.lead.fw-normal.text-muted.mb-4.px-lg-10
              Create hundreds of USSD applications with just a single setup.
              %br/
              As if this wasn't enough, send your clients personalized SMSs and boost your customer
              engagement.
            .d-flex.justify-content-center.align-items-center.mb-5
              %a.btn.btn-tertiary.mb-3.mt-2.me-2.me-md-3.animate-up-2{href: "#components"}
                %span.fas.fa-th-large.me-2
                %span.d-none.d-md-inline
                  Explore
                  Features
                %span.d-md-none Features
              %a.github-button{:aria-label => "Star ekeeya/mondo on GitHub", :data-color-scheme => "no-preference: dark; light: light; dark: light;", :data-icon => "octicon-star", :data-show-count => "true", :data-size => "large", href: "https://github.com/ekeeya/mondo"} Star
            .d-flex.justify-content-center.flex-column.mb-6.mb-lg-5
              %a.d-block.text-center.mx-auto{href: "mondo.io", target: "_blank"}
                %img.d-block.mx-auto.mb-3{alt: "Mondo logo", height: "50", src: "{% static 'landing/assets/img/favicon/favicon.png' %}", width: "50"}/
                %span.text-muted.font-small
                  Software written by
                  %a{href: "https://github.com/ekeeya", target: "_blank"} Keeya Emmanuel
      %figure.position-absolute.bottom-0.left-0.w-100.d-none.d-md-block.mb-n2
        %svg.fill-white{viewbox: "0 0 3000 185.4", xmlns: "http://www.w3.org/2000/svg"}
          %path{d: "M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"}
    .section.py-0
      .container.mt-n10.mt-lg-n12.z-2
        .row.justify-content-center
          .col-12.col-md-10
            %img{alt: "Mondo mockup", src: "{% static 'landing/assets/img/edit-flow.png' %}"}/
    %section.section.section-lg
      .container
        .row.justify-content-between.align-items-center.mb-5.mb-lg-7
          .col-12.col-lg-5.mb-5.mb-lg-0.order-lg-2
            %h2.h1 Personalization
            %p.mb-4.lead.fw-bold Personalized SMS
            %p.mb-4
              Personalized SMSs promote customer engagment.It is time to increase your open rates to 98% through our highly flexible customized SMS capabilities.
            %a.btn.btn-outline-primary{href: "https://themesberg.com/docs/pixel-bootstrap/components/accordions/", target: "_blank"}
              %span.fas.fa-book.me-2
              Getting started
          .col-12.col-lg-6.order-lg-1
            %img{alt: "Front pages overview", src: "{% static 'landing/assets/img/sms.jpg' %}"}/
        .row.justify-content-between.align-items-center.mb-5.mb-lg-7
          .col-lg-5.mb-5.mb-lg-0
            %h2.h1.d-flex.align-items-center
              Easy USSD Apps managment
            %p.mb-4.lead.fw-bold Use flows to create USSD apps and menus
            %p.mb-4
              In order to best capture your new business requirement, you can simply just drag, drop and type, to create or modify your USSD menus without calling a developer to adjust the code base?
            %a.btn.btn-primary.mt-2.animate-up-2{href: "https://demo.themesberg.com/pixel-pro/v5/html/sections/all-sections.html", target: "_blank"}
              %span.fas.fa-th-large.me-2
              Getting started
          .col-lg-6
            %img{alt: "Ussd Managment", src: "{% static 'landing/assets/img/ussd.jpeg' %}"}/
        .row.justify-content-between.align-items-center
          .col-12.col-lg-5.order-lg-2.mb-5.mb-lg-0
            %h2.h1.d-flex.align-items-center
              APIs
            %p.mb-4.lead.fw-bold Do not worry about incompatibility
            %p.mb-4
              Different APIs use different formats during communication. We extend power to determine how your setup should communicate with external APIs to you. You don't even have to write code to support all individual APIs.
            %a.btn.btn-tertiary.animate-up-2{href: "https://demo.themesberg.com/pixel-pro/v5/html/dashboard/account.html", target: "_blank"}
              Let's try it
          .col-12.col-lg-6.order-lg-1
            %img{alt: "Dashboard Preview", src: "{% static 'landing/assets/img/api.jpg' %}"}/
    .section.section-sm.pb-0.mb-n4
      .container
        .row.justify-content-center
          %h3.text-center Pricing
    .section.section-md
      .container
        .row.mb-5
          .col-12.col-md-6.col-lg-4.mb-5.mb-lg-0
            .card.shadow
              .card-header.bg-white.p-3.text-center
                %h3.text-primary.mb-4 Free
                %span.d-block
                  %span.display-1.text-dark.fw-bold
                    %span.align-top.font-medium> $
                    0
                  %span.d-block.text-gray.font-small / month
              .card-body
                %ul.list-group.list-group-flush.price-list
                  %li.list-group-item.bg-white.border-0.ps-0
                    %strong Free
                    Download on Github
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Free Bulky SMS implementation
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    SMS Gateway(kannel)
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Free installation and setup
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Personalized SMS Capabilities
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    USSD Menu management engine
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Configurable  API support
                  %li.list-group-item.bg-white.border-0.border-0.ps-0.pb-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Premium
                    Support
                  %br
                .d-grid
                  %a.btn.btn-primary.animate-up-1{href: "https://github.com/ekeeya/mondo"} Download on GitHub
          .col-12.col-md-6.col-lg-4.mb-5.mb-lg-0
            .card.shadow
              .card-header.bg-white.p-3.text-center
                %h3.text-primary.mb-4 Basic
                %span.d-block
                  %span.display-1.text-dark.fw-bold
                    %span.align-top.font-medium> $
                    500
                  %span.d-block.text-gray.font-small / month
              .card-body
                %ul.list-group.list-group-flush.price-list
                  %li.list-group-item.bg-white.border-0.ps-0
                    %strong Free
                    Download on Github
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Free Bulky SMS implementation
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    SMS Gateways(kannel, mbuni)
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Free installation and setup
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Personalized SMS Capabilities
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    USSD Menu management engine
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Configurable  API support
                  %li.list-group-item.bg-white.border-0.border-0.ps-0.pb-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Access to online instance
                  %li.list-group-item.bg-white.border-0.border-0.ps-0.pb-0
                    %span.icon-danger
                      %span.fas.fa-times-circle
                    Premium
                    Support
                  %br
                .d-grid
                  %a.btn.btn-primary.animate-up-1{href: "#"} Purchase now
              / End Content
          .col-12.col-md-6.col-lg-4.mb-5.mb-lg-0
            .card.shadow
              / Header
              .card-header.bg-white.p-3.text-center
                %h3.text-primary.mb-4 Premium
                %span.d-block
                  %span.display-1.text-dark.fw-bold
                    %span.align-top.font-medium> $
                    800
                  %span.d-block.text-gray.font-small / month
              .card-body
                %ul.list-group.list-group-flush.price-list
                  %li.list-group-item.bg-white.border-0.ps-0
                    %strong Free
                    Download on Github
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Free Bulky SMS implementation
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    SMS Gateways(kannel, mbuni)
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Free installation and setup
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Personalized SMS Capabilities
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    USSD Menu management engine
                  %li.list-group-item.bg-white.border-0.ps-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Configurable  API support
                  %li.list-group-item.bg-white.border-0.border-0.ps-0.pb-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Access to online instance
                  %li.list-group-item.bg-white.border-0.border-0.ps-0.pb-0
                    %span.icon-success
                      %span.fas.fa-check-circle
                    Premium
                    Support (24/7)
                  %br
                .d-grid
                  %a.btn.btn-primary.animate-up-1{href: "#"} Purchase now
            / End Content
          .col-12.mt-5
            .card.shadow.mb-6
              .card-body.px-5.py-5.text-center.text-md-left
                .row.align-items-center
                  .col-md-6
                    %h2.mb-3 Get in touch
                    %p.mb-0
                      If you need any help with our products or services, choose one of the
                      following ways
                      to contact us.
                  .col-12.col-md-6.mt-4.mt-md-0.text-md-right
                    %a.btn.btn-primary{href: "#"}
                      %span.me-1
                        %span.fas.fa-headphones
                      Contact Us
    %section#download.section.section-lg.bg-white
      .container
        .row
          .col-12.col-lg-8
            %h2.h1.font-weight-light.mb-3
              %strong Open source
            %p.lead.mb-4
              Mondo is an open source project that offers easy management of USSD
              applications by allowing non-technical personnel create and modify USSD menus using intuitive
              highly flexible flows.
            %p.lead.mb-4 Mondo also allows you send highly personalized SMSs using uploaded lists.
            .d-flex.align-items-center
              %a.btn.btn-github.me-4.animate-up-2{href: "https://github.com/ekeeya/mondo", target: "_blank"}
                View on GitHub
              .mt-2
                %a.github-button{:aria-label => "Star ekeeya/mondo on GitHub", :data-color-scheme => "no-preference: dark; light: light; dark: light;", :data-icon => "octicon-star", :data-show-count => "true", :data-size => "large", href: "https://github.com/ekeeya/mondo"} Star

