@font-face {
  font-family: 'mondo';
  src:  url('fonts/mondo.eot?wrwnm0');
  src:  url('fonts/mondo.eot?wrwnm0#iefix') format('embedded-opentype'),
    url('fonts/mondo.ttf?wrwnm0') format('truetype'),
    url('fonts/mondo.woff?wrwnm0') format('woff'),
    url('fonts/mondo.svg?wrwnm0#mondo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mo-"], [class*=" mo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mondo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mo-radio-checked:before {
  content: "\e002";
}
.mo-bubbles-2:before {
  content: "\e00e";
}
.mo-bubble:before {
  content: "\e00f";
}
.mo-bubble-dots:before {
  content: "\e010";
}
.mo-bubble-2:before {
  content: "\e011";
}
.mo-radio:before {
  content: "\e012";
}
.mo-connection:before {
  content: "\e013";
}
.mo-tree:before {
  content: "\e050";
}
.mo-tree-2:before {
  content: "\e051";
}
.mo-filter:before {
  content: "\e057";
}
.mo-remove-2:before {
  content: "\e058";
}
.mo-drawer:before {
  content: "\e059";
}
.mo-checkbox-checked:before {
  content: "\e05a";
}
.mo-bubble-notification:before {
  content: "\e062";
}
.mo-menu:before {
  content: "\e069";
}
.mo-inbox:before {
  content: "\e074";
}
.mo-upload-2:before {
  content: "\e075";
}
.mo-bubble-user:before {
  content: "\e076";
}
.mo-numerical:before {
  content: "\e077";
}
.mo-excel:before {
  content: "\e096";
}
.mo-left-quote:before {
  content: "\e0bd";
}
.mo-quotes-left:before {
  content: "\e0be";
}
.mo-phone2:before {
  content: "\e0dd";
}
.mo-luis:before {
  content: "\e90f";
}
.mo-flow-merge:before {
  content: "\e91b";
}
