-extends 'skin/base.html'
  -block breadcrumb
    %ol.breadcrumb
      %li.breadcrumb-item USSD
      %li.breadcrumb-item.active
        %a{:href=>"{% url 'ussd_apps' %}"} Flows
  -block main
    .row
      .col-md
        %section.widget
          %header
            %h5
              %span.mo-tree{:style=>"font-size:30pt"}
              %span{:style=>"font-size:25pt;margin-left:1em"} USSD Flows
              %br
              %br
              %small{:style=>"top:1em"} A list for all configured USSD flows
              %br
              %br
            .row
              .col-md-8.row
                .col
                  %button.btn.btn-outline-danger
                    %i.fa.fa-archive
                    Deactivate
                  %button.btn.btn-outline-success
                    %i.mo-excel
                    Export
              .col-md-4
                %input.form-control{:placeholder=>"Search Flow"}

          .widget-body
            .widget-padding-md.border.rounded
              .row
                .col-md-9
                  %table.table.table-striped.table-hover
                    %thead
                      %tr
                        %th
                          .checkbox.abc-checkbox
                            %input#checkbox1{:data-check-all => "", :type => "checkbox"}/
                            %label{:for => "checkbox1"}
                        %th Name
                        %th Created On
                        %th.text-center Status
                    %tbody
                      %tr
                        %td
                          .checkbox.abc-checkbox
                            %input#checkbox2{:type => "checkbox"}/
                            %label{:for => "checkbox2"}
                        %td
                          %a{:href=>"{% url 'flow' uuid='d5cec018-31b2-4c8a-89d6-6a16093cbb0' %}"} Virtual Banking (*221#)
                        %td July , 10 2021
                        %td.text-center
                          %span.badge.bg-success Active
                      %tr
                        %td
                          .checkbox.abc-checkbox
                            %input#checkbox3{:type => "checkbox"}/
                            %label{:for => "checkbox3"}
                        %td
                          %a{:href=>"{% url 'flow' uuid='d5cec018-31b2-4c8a-89d6-6a16093cbb0' %}"} Environmental Research Channel (*267#)
                        %td August , 20 2020
                        %td.text-center
                          %span.badge.bg-danger Disabled
                .col-md-3
                  %header.text-center
                    %button#createFlowButton.btn.btn-primary.btn-block
                      Create Flow
                  %table.table
                    %tr
                      %td
                        %b Active
                      %td 2
                    %tr
                      %td
                        %b Disabled
                      %td 0
                    %tr
                      %td
                        %b Deleted
                      %td 0


    / create flow modal
    #createFlowModal.modal.fade{:aria-hidden => "true", :aria-labelledby => "createFlowModalLabel", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %h5#createFlowModalLabel.modal-title Create Flow
          .modal-body
            .row
              .col-sm.col-md-6
                .form-group
                  {{form.name}}
              .col-sm.col-md-6
                .form-group
                  {{form.type}}
            %br
            .row
              .col-sm.col-md-6{:style=>"margin:auto"}
                .form-group
                  {{form.short_code}}
              .col-sm.col-md-6{:style=>"margin:auto"}
                .form-group
                  {{form.timeout}}



          .modal-footer
            %button.btn.btn-default{:data-dismiss => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{:type => "button"} Create
  -block scripts
    :javascript
      $(document).ready(function(){
        $('#id_short_code').select2({
          placeholder:"Select Shortcode(s) to trigger flow execution if any"
        });
        $("#createFlowButton").click(function(){
            $("#createFlowModal").modal('show')
        });
      });