.theme-helper
  %section.widget.theme-helper-content
    %header.theme-helper-header.d-flex.p-0
      .theme-helper-toggler
        .theme-helper-spinner.bg-primary.text-white
          %i.la.la-cog
          %i.la.la-cog.fs-smaller
      %h6 Configuration
    .widget-body.mt-3
      .mt-4
        %a.btn.btn-warning.btn-rounded-f.btn-block.fs-mini.text-white{:href => "https://flatlogic.com/dashboards/sing-app-html5", :role => "button", :target => "_blank"}
          Purchase
        %a.btn.btn-danger.btn-rounded-f.btn-block.fs-mini{:href => "https://flatlogic.com/templates/sing-app-html5", :role => "button", :target => "_blank"}
          Go FULL Version
        %a.btn.btn-secondary.btn-rounded-f.btn-block.fs-mini{:href => "http://demo.flatlogic.com/sing-app/documentation/", :role => "button", :target => "_blank"}
          Documentation
      .d-flex.justify-content-between.mt-lg
        %a.btn.btn-outline-default.btn-rounded-f.fs-mini.text-muted{:href => "https://flatlogic.com/forum", :role => "button", :target => "_blank"}
          %i.glyphicon.glyphicon-headphones.mr-xs
          Support
        %a.btn.btn-outline-default.btn-rounded-f.fs-mini.text-muted{:href => "https://github.com/flatlogic/sing-app", :role => "button", :target => "_blank"}
          %i.fa.fa-github.mr-xs
          Github
      .mt-lg.d-flex.flex-column.align-items-center.theme-sharing
        %span.fs-sm
          Thank you for sharing!
        .d-flex.justify-content-center.text-light.mt-2
          %a{:href => "https://twitter.com/intent/tweet?text=Admin%20dashboard%20template%20built%20with%20NodeJS,%20React%20and%20Bootstrap%204!&url=https://demo.flatlogic.com/sing-app/html-bs4/&via=flatlogic", :target => "_blank"}
            %i.fa.fa-twitter.pr-1
          %a{:href => "https://www.facebook.com/sharer/sharer.php?u=https://demo.flatlogic.com/sing-app/html-bs4/", :target => "_blank"}
            %i.fa.fa-facebook.pl-1