-extends 'skin/base.html'
  -block main
    .analytics
      .analytics-side
        .row
          .col-sm-12.col-md-6.col-xl-12.last-side-element
            %section.widget
              %header
                %h4
                  USSD
          .col-sm-12.col-md-6.col-xl-12.last-side-element
            %section.widget
              %header
                %h4
                  SMS
                %p.text-primary.mb-0
                  %small.tasks-stat

          .col-sm-12.col-md-12.col-xl-12
            %section.widget
              %header
                %h4
                  Statistics
